.footer {
	background-color: #000;
	color: #fff;
	padding: 1rem;
	text-align: center;
}
.footer__socials {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}
.footer__socials svg {
	fill: #fff;
	width: 22px;
	height: 22px;
}
.footer__mail {
	display: flex;
	/* justify-content: center; */
	justify-content: space-evenly;
	background: #fff;
	color: black;
	width: 50vw;
	margin: 0.5rem auto;
	border-radius: 1em;
	padding: 0.3em;
}
/* .footer__mail img {
	width: 24px;
	height: 24px;
} */
.footer__mail > div {
	width: 24px;
	height: 24px;
}
/*large screen section*/
@media (min-width: 768px) {
	.footer__communication {
		display: flex;
		justify-content: center;
		margin: 1rem auto;
	}
	.footer__socials {
		align-items: center;
		margin-top: 0;
	}
	.footer__mail {
		margin: 0.5rem;
		width: 20vw;
	}
}
