@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.homepage__section {
	background-color: #000;
	position: relative;
}
.homepage__section h1 {
	color: #fff;
}
.homepage__section > div:nth-child(1) > span {
	height: 10em;
}
.homepage__section .homepage__aside,
.homepage__section .homepage__aside__tombola {
	position: absolute;
	/* top: 1rem; */
	/* left: 1rem; */
	padding: 0.5rem;
	border: solid 1px;
	border-radius: 0.5rem;
	font-family: "Bebas Neue", cursive;
	font-size: 1.2rem;
}
.homepage__section .homepage__aside {
	animation: popup 2s ease-in-out alternate infinite;
	top: 25rem;
	background-color: rgba(251, 201, 26, 1);
}
.homepage__section .homepage__aside__tombola {
	position: absolute;
	top: 4rem;
	background-color: #000;
	color: rgb(251, 201, 26);
	animation: popup 2s 2s ease-in-out alternate infinite;
}

.homepage__section > div > div:nth-child(2) > div:nth-child(2) {
	width: 70vw;
	margin: 0 auto;
}
.homepage__section > div > div:nth-child(2) > div:nth-child(3) {
	padding: 1rem 0;
	background-color: #ada8a8;
}
.homepage__section
	> div
	> div:nth-child(2)
	> div:nth-child(3)
	> p:nth-child(1) {
	letter-spacing: -0.05rem;
	font-size: 0.8rem;
}
.homepage__section
	> div
	> div:nth-child(2)
	> div:nth-child(3)
	> p:nth-child(2) {
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.3rem;
}
@media (max-width: 767px) {
	.homepage__section {
		padding: 2.3rem 0;
	}
}
@media (min-width: 768px) {
	.homepage__section > div > div:nth-child(2) > div:nth-child(2) {
		width: 50vw;
	}
	.homepage__section h1 {
		text-align: center;
		padding-right: 0;
	}
}
@media (min-width: 1024px) {
	.homepage__section > div > div:nth-child(2) > div:nth-child(2) {
		width: 40vw;
	}
	.homepage__section .homepage__aside {
		top: 18rem;
	}
}
@keyframes popup {
	0% {
		/* opacity: 0.3; */
		/* background-color: rgba(251, 201, 26, 0.5);
		transform: translateX(); */
		left: 0;
	}
	100% {
		/* opacity: 1; */
		/* background-color: rgba(251, 201, 26, 1); */
		left: 2rem;
	}
}
